{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login to you Account...</p>
        </div>
    </div>
</header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">

                    <br/><br/>

<form method=POST action="{% url 'login-user' %}">
     {% csrf_token %}
    <form>
          <div class="mb-3">

            <input type="text" class="form-control" name="username">
          </div><br/>

          <div class="mb-3">

            <input type="password" class="form-control" name="password">
          </div>
        <br/><br/>

          <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</form>



                </div>
        </div>
    </div>
</center>

<br/>


{% endblock %}