{% extends 'base.html' %}

{% block content %}
<style>
  h1{
   position: relative;

   color: gray;
   font-family: "Poppins", serif;
   font-weight: 400;
   font-style: normal;
   }

</style>

<center>
<h1>Additional Information Delete</h1>
</center>



</br>
<h5>ID Information</h5>
</br>
    <form action="" method=POST enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

<br>
        <div class="d-grid gap-2">Delete Information
            <input name="registers" type="submit" value="Information" class="btn btn-outline-danger">
        </div>
</form>

</br></br>



<h5>Seminars Information</h5>
</br>
<div class="dropdown">
  <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    Seminar Dates
  </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        {%for seminar in seminars_info %}
          <li><a class="dropdown-item" href="{% url 'info_date' seminar 'deletes'%}">{{seminar}}</a></li>
        {% endfor %}
      </ul>
</div>
</br>


 <form action="" method=POST enctype="multipart/form-data">
        {% csrf_token %}
        {{sem_form.as_p}}

        <br><div class="d-grid gap-2">Delete Seminars
            <input name="seminars" type="submit"  value="Seminars" class="btn btn-outline-danger">
        </div>
</form>


</br></br>


{% endblock %}



