{% extends 'base.html' %}

{% block content %}
<style>
    h1{
   position: relative;
   color: gray;
   font-family: "Poppins", serif;
   font-weight: 400;
   font-style: normal;
   }

   h6{
   position: relative;
   color: gray;
   font-family: "Poppins", serif;
   font-weight: 400;
   font-style: normal;
   font-size:  20px;
   }


  .date_design{
   position: relative;
   color: gray;
   font-family: "Poppins", serif;
   font-weight: 400;
   font-size: 20px;
   font-style: normal;
   top: -10px;
   }

   .month_design{
   position: relative;
   color: green;
   font-family: "Poppins", serif;
   font-weight: 400;
   font-size: 15px;
   font-style: normal;
   left: 10px;
   }

   .day_design{
   position: relative;
   color: red;

   font-family: "Poppins", serif;
   font-weight: 400;
   font-size: 15px;
   font-style: normal;
   left: 15px;

   }

.dropbtn {
  background: linear-gradient(gray,gray);;
  color: white;
  padding: 3px 10px;
  font-size: 9px;
  border: none;
  opacity: 0.5;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block; }

.dropdown:hover .dropbtn {background-color: gray;}

.table_bgs {
  color: white;
  background-color: #0876e1;
}

</style>

<!--{% for ot in data_months %}-->

<!--              {{ot.log_in|date:"Y-m-d"}}-->
<!--{%endfor%}-->

<center>
<h1>Overtime Request Section</h1>
</center>


</br></br>

<!--<div class="shadow-lg p-1 mb-4 bg-body-tertiary rounded "><h6>{{date_now}}</h6></div>-->
<nav>
        <form action="" method=POST enctype="multipart/form-data">
        {% csrf_token %}

    <div class="date_design">
    &#128515; {{date_now}}

    <div class="dropdown month_design">Month &#11206;
<!--       <button class="dropbtn">&#11206;</button>-->
          <div class="dropdown-content">
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Jan'%}">January</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Feb'%}" >February</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Mar'%}" >March</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Apr'%}" >April</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'May'%}" >May</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Jun'%}" >June</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Jul'%}" >July</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Aug'%}" >August</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Sep'%}" >September</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Oct'%}" >October</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Nov'%}" >November</a>
              <a class="dropdown-item" href="{% url 'overtime_approval_select' 'Dec'%}" >December</a>
          </div>
    </div>

    <div class="dropdown day_design">Day &#11206;
<!--       <button class="dropbtn">&#11206;</button>-->
          <div class="dropdown-content">
              {% for day in day_select%}
              <a class="dropdown-item" href="{% url 'overtime_approval_select' day%}" >{{day}}</a>

              {% endfor %}
          </div>
    </div>
</div>
    </form>

    </nav>


<form class="" method="POST">
    {% csrf_token  %}
    <div class="shadow p-4 mb-5 bg-body rounded">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="table_bgs">
                <th scope="col">Username</th>
                <th scope="col">OT Request</th>
                <th scope="col">OT Request Time</th>
                <th scope="col">OT Approved</th>
                <th scope="col">OT Approved Time</th>

            </tr>
        </thead>
            <tbody>
              {% for ot in data_months %}
              {% if ot.ot_request %}
                  {% if ot.log_in|date:"Y-m-d" == current_date %}
                    <tr>
                     <td class ="venue_one">{{ ot.user_attend }}</td>
                     <td>
                        {% if ot.ot_request %}
                         <div class="form-check">
                             <input class="form-check-input "
                                type="checkbox" checked="checked" value={{ot.ot_request}}
                                name="">
                         </div>
                         {% else %}
                          <div class="form-check">
                             <input class="form-check-input"
                                type="checkbox"  value={{ot.ot_request}}
                                name="">
                         </div>
                         {% endif %}
                     </td>
                      <td class ="venue_one">{{ ot.ot_request_time }}</td>
                      <td>
                        {% if ot.ot_approved %}
                         <div class="form-check">
                             <input class="form-check-input "
                                type="checkbox" checked="checked" value={{ot.id}}
                                name="boxes">
                         </div>
                         {% else %}
                          <div class="form-check">
                             <input class="form-check-input"
                                type="checkbox"  value={{ot.id}}
                                name="boxes">
                         </div>
                         {% endif %}
                     </td>
                        <td>
                      <select name="time" class="form-select">


                      {% if ot.ot_approved_time == None %}

                          <option selected>0 hr</option>
                      {% else %}

                          <option selected>{{ot.ot_approved_time}}</option>
                       {% endif %}



                          {% for hour in ot_hour %}
                          <option value="{{hour}}">{{hour}}</option>
                          {% endfor %}
                        </select>
                     </td>

                    </tr>
                 {% endif %}
              {% endif %}
             {% endfor %}
            </tbody>
    </table>
   <div class="d-grid gap-2">
       <br><button class="btn btn-outline-danger" type="submit">Overtime Approval</button>
   </div>
        </br>
</div>
</form>


</br></br>

<center>
<h1>Overtime Time Modified</h1>
</center>
</br>

<h6>&#128515; {{date_now}}</h6>
<form class="" method="POST">
    {% csrf_token  %}
    <div class="shadow p-4 mb-5 bg-body rounded">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="table_bgs">
                <th scope="col">Username</th>
                <th scope="col">Login </th>
                <th scope="col">Logout</th>
                <th scope="col">Total Hour</th>
                <th scope="col">OT Hour</th>
                <th scope="col">Salary</th>

            </tr>
        </thead>
            <tbody>

            {%for update in update_ot_time%}
              {% if update.log_in|date:"Y-m-d" == current_date %}

            <tr>
                      <td class ="">{{ update.user_attend }}</td>
                
                      <td class ="">{{ update.log_in |date:"H:i A" }}</td>

                      <td class ="">{{ update.log_out |date:"H:i A"}}</td>

                      <td class ="">{{ update.total_hour }}</td>

                      <td class ="">{{ update.ot_approved_time }}</td>

                      <td class ="">{{ update.total_salary }}</td>

            </tr>
            {% endif %}
            {% endfor %}

            </tbody>

    </table>
   <div class="d-grid gap-2">
       <br><button class="btn btn-outline-success" name="time_approve" value="time_modified" type="submit">
       Final Overtime Approval</button>
   </div>
        </br>
</div>
</form>
</br></br>

{% endblock %}
